.containers{
    background-color: #333;
    height: 250px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}
.item{
    border: medium solid #999;
    background-color: #666;

    /* flex-grow: 0;
    flex-shrink: 3;
    flex-basis: auto; */

    flex: 1 2 150px; /*Es un shorthand de las propiedades flex-grow flex-shrink y flex-basis en este mismo orden*/
    order: 0;

    align-self: stretch;
}
.item:nth-child(2){
    /* order: 1; */
    order: -1;
}
.item:nth-child(3){

    align-self: center;}
/* .item:nth-child(2), */
/* .item:nth-child(10){/*Esto hace un elemento de los item mas grande*/
    /* font-size: 250%;
} */


/*Tabla*/

.contenido{
    margin: auto;
    max-width: 1280px;
}

.flex-container{
    display: flex;
    flex-flow: row wrap;
}

.flex-item{
    border: thin solid #CCC;
    flex: 0 0 100%
}
@media(min-width:576px){
    .flex-item{
        flex: 0 0 33.33333333%;
    }
}
@media(min-width:992px){
    .flex-item{
        flex: 0 0 25%;
    }
}
@media(min-width:1200px){
    .flex-item{
        flex: 0 0 16.6666666666%;
    }
}

